{assign var=this value=$OperatorpasswordControl}

{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}
{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}

{literal}
<script type="text/javascript">
	$().ready(function()
	{
		$('#edit-hint').ketchup();
	});
</script>
{/literal}

<h2>Смена пароля оператора</h2>

<form id="edit-hint" method="post" action="{alink do=saveoperpass}">
	<dl>
		<dt>Новый пароль:</dt><dd><input type="text" data-validate="validate(required, maxlength(255))" name="newpass"/></dd>
	</dl>
	<input id="submitHint" type="submit" value="Сохранить"/><p><!-- --></p>
</form>