{assign var=this value=$OrgAddZlControl}
{formrestore id="opt-zakupka-line-add"}

{loadscript file='/wysibb/theme/default/wbbtheme.css' type='css'}
{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}

{loadscript file='/wysibb/jquery.wysibb.min.js' type='js'}
{loadscript file='/wysibb/lang/ru.js' type='js'}

{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}

{literal}
<script type="text/javascript">

    $().ready(function()
	{
        {/literal}{if !$this.editZline->minValue || !$this.editZline}{literal}
            $('#minValue').attr("value", "");
            $('#minName').attr("value", "");
            $('#kolvorow-val').hide();
            $('#kolvorow-name').hide();
            $('#sizerow').show();
        {/literal}{else}{literal}
            $('#sizes').attr("value", "");
            $('#sizerow').hide();
            $('#kolvorow-val').show();
            $('#kolvorow-name').show();
        {/literal}{/if}{literal}

		$('#opt-zakupka-line-add').ketchup();

		var wbbOpt = {
				buttons: 'bold,italic,underline,fontsize,fontcolor,smilebox,|,bullist,numlist,|,img,video,link',
				allButtons: {
					quote: {
						transform: {
							'<div class="quote">{SELTEXT}</div>':'[quote]{SELTEXT}[/quote]',
							'<div class="quote"><cite>{AUTHOR} wrote:</cite>{SELTEXT}</div>':'[quote={AUTHOR}]{SELTEXT}[/quote]'
						}
					}
				},
				smilefind: "#smiley-box",
				smileList: [
					{title:CURLANG.sm1, img: '<img src="/images/smiles/sm1.png" class="sm">', bbcode:":)"},
					{title:CURLANG.sm1, img: '<img src="/images/smiles/sm2.png" class="sm">', bbcode:":D"},
					{title:CURLANG.sm3, img: '<img src="/images/smiles/sm3.png" class="sm">', bbcode:";)"},
					{title:CURLANG.sm4, img: '<img src="/images/smiles/sm4.png" class="sm">', bbcode:":up:"},
					{title:CURLANG.sm5, img: '<img src="/images/smiles/sm5.png" class="sm">', bbcode:":down:"},
					{title:CURLANG.sm6, img: '<img src="/images/smiles/sm6.png" class="sm">', bbcode:":shock:"},
					{title:CURLANG.sm7 ,img: '<img src="/images/smiles/sm7.png" class="sm">', bbcode:":angry:"},
					{title:CURLANG.sm8, img: '<img src="/images/smiles/sm8.png" class="sm">', bbcode:":("},
					{title:CURLANG.sm9, img: '<img src="/images/smiles/sm9.png" class="sm">', bbcode:":sick:"}
				]
		};

		$("#description").wysibb(wbbOpt);

		// корректируется артикул
		$('#searchArtNumber').change(function(e)
		{
			var gotsnumber = $('#searchArtNumber').val();
			$('#artNumber').val(gotsnumber);
		});

		// смена типа ряда
		$('.rowtype').change(function(e)
		{
			if ($(this).attr('value') == '0')
			{
				$('#minValue').attr("value", "");
				$('#minName').attr("value", "");
				$('#kolvorow-val').hide();
				$('#kolvorow-name').hide();
				$('#sizerow').show();
			}
			else
			{
				$('#sizes').attr("value", "");
				$('#sizerow').hide();
				$('#kolvorow-val').show();
				$('#kolvorow-name').show();
			}

		});

        $('.openuplwindow').click(function(e)
        {
            window.open("http://postimage.org/index.php?mode=website&areaid=1&hash=1&lang=russian&code=&content=family&forumurl=" + escape(document.location.href), "postimage", "resizable=no,width=500,height=400");
            return false;
        });

		// поиск товара по артикулу AJAX
		$('#searchByArt').click(function(e)
        {
			var gotsnumber = $('#searchArtNumber').val();
			$('#artNumber').val(gotsnumber);
			// сама строчка
			var gotdata = "job=getprodbyart&art="+gotsnumber;

			$.ajax(
			{
				type: "POST",
				dataType: "JSON",
				url: "/index.php?show=ajax",
				data: gotdata,
				success: function(data)
				{
					if (data.error)
					{
						alert(data.error);
						return false;
					}
					else
					{
						// получен ответ
						$('#prodId').val(data.id);
						$('#name').val(data.name);
						$('#description').val(data.description);
						return false;
					}
				}

			});

		});

		// восстановим searchArtNumber после form restore
		var loadedArt = $('#artNumber').val();
		if (loadedArt != undefined && loadedArt != '')
			$('#searchArtNumber').val(loadedArt);

	});

    function postimage_query_string(postimage_search_name)
    {
        if (window.location.hash) {
            postimage_query = window.location.hash.substring(1).split("&");
            for (postimage_i = 0; postimage_i < postimage_query.length; postimage_i++) {
                postimage_string_data = postimage_query[postimage_i].split("=");
                if (postimage_string_data[0] == postimage_search_name) {
                    postimage_string_data.shift();
                    return unescape(postimage_string_data.join("="));
                }
            }
        }
        return void(0);
    }

    function parseBBCode(S) {
        if (S.indexOf('[') < 0) return S;

        function X(p, f) {return new RegExp(p, f)}
        function D(s) {return rD.exec(s)}
        function R(s) {return s.replace(rB, P)}
        function A(s, p) {for (var i in p) s = s.replace(X(i, 'g'), p[i]); return s;}

        function P($0, $1, $2, $3) {
            if ($3 && $3.indexOf('[') > -1) $3 = R($3);
            switch ($1) {
                case 'url':case 'anchor':case 'email': return '<a '+ L[$1] + ($2||$3) +'">'+ $3 +'</a>';
                case 'img': var d = D($2); return '<img src="'+ $3 +'"'+ (d ? ' width="'+ d[1] +'" height="'+ d[2] +'"' : '') +' alt="'+ (d ? '' : $2) +'" />';
                case 'flash':case 'youtube': var d = D($2)||[0, 425, 366]; return '<object type="application/x-shockwave-flash" data="'+ Y[$1] + $3 +'" width="'+ d[1] +'" height="'+ d[2] +'"><param name="movie" value="'+ Y[$1] + $3 +'" /></object>';
                case 'float': return '<span style="float: '+ $2 +'">'+ $3 +'</span>';
                case 'left':case 'right':case 'center':case 'justify': return '<div style="text-align: '+ $1 +'">'+ $3 +'</div>';
                case 'google':case 'wikipedia': return '<a href="'+ G[$1] + $3 +'">'+ $3 +'</a>';
                case 'b':case 'i':case 'u':case 's':case 'sup':case 'sub':case 'h1':case 'h2':case 'h3':case 'h4':case 'h5':case 'h6':case 'table':case 'tr':case 'th':case 'td': return '<'+ $1 +'>'+ $3 +'</'+ $1 +'>';
                case 'row': case 'r':case 'header':case 'head':case 'h':case 'col':case 'c': return '<'+ T[$1] +'>'+ $3 +'</'+ T[$1] +'>';
                case 'acronym':case 'abbr': return '<'+ $1 +' title="'+ $2 +'">'+ $3 +'</'+ $1 +'>';
            }
            return '['+ $1 + ($2 ? '='+ $2 : '') +']'+ $3 +'[/'+ $1 +']';
        }

        var rB = X('\\[([a-z][a-z0-9]*)(?:=([^\\]]+))?]((?:.|[\r\n])*?)\\[/\\1]', 'g'), rD = X('^(\\d+)x(\\d+)$');
        var L = {url: 'href="', 'anchor': 'name="', email: 'href="mailto: '};
        var G = {google: 'http://www.google.com/search?q=', wikipedia: 'http://www.wikipedia.org/wiki/'};
        var Y = {youtube: 'http://www.youtube.com/v/', flash: ''};
        var T = {row: 'tr', r: 'tr', header: 'th', head: 'th', h: 'th', col: 'td', c: 'td'};
        var C = {notag: [{'\\[': '&#91;', ']': '&#93;'}, '', ''], code: [{'<': '&lt;'}, '<code><pre>', '</pre></code>']};
        C.php = [C.code[0], C.code[1]+ '&lt;?php ', '?>'+ C.code[2]];
        var F = {font: 'font-family:$1', size: 'font-size:$1px', color: 'color:$1'};
        var U = {c: 'circle', d: 'disc', s: 'square', '1': 'decimal', a: 'lower-alpha', A: 'upper-alpha', i: 'lower-roman', I: 'upper-roman'};
        var I = {}, B = {};

        for (var i in C) I['\\[('+ i +')]((?:.|[\r\n])*?)\\[/\\1]'] = function($0, $1, $2) {return C[$1][1] + A($2, C[$1][0]) + C[$1][2]};
        for (var i in F) {B['\\['+ i +'=([^\\]]+)]'] = '<span style="'+ F[i] +'">'; B['\\[/'+ i +']'] = '</span>';}
        B['\\[list]'] = '<ul>'; B['\\[list=(\\w)]'] = function($0, $1) {return '<ul style="list-style-type: '+ (U[$1]||'disc') +'">'}; B['\\[/list]'] = '</ul>'; B['\\[\\*]'] = '<li>';
        B['\\[quote(?:=([^\\]]+))?]'] = function($0, $1) {return '<div class="bb-quote">'+ ($1 ? $1 +' wrote' : 'Quote') +':<blockquote>'}; B['\\[/quote]'] = '</blockquote></div>';
        B['\\[(hr|br)]'] = '<$1 />'; B['\\[sp]'] = '&nbsp;';
        return R(A(A(S, I), B));
    }

    function postimage_insert()
    {
        var addImgStr = postimage_query_string('postimage_text');
        var addImgStrHtml = parseBBCode(addImgStr);
        var oldDescription = opener.$('#description').val();

        if (opener.$('#description').is(":visible"))
            opener.$('#description').val(oldDescription+''+addImgStr);

        if (opener.$('.wysibb-body').is(":visible"))
            opener.$('.wysibb-body').append(addImgStrHtml);
    }

    if (opener)
    {
        opener.focus();
        postimage_insert();
        window.close();
    }


</script>
{/literal}

{if $this.headid}
{assign var=oneZakObj value=$this.headobj}
{assign var=oneOrgId value=$oneZakObj->orgId}
{assign var=oneOrgObj value=$this.orgList.$oneOrgId}

	{if $this.headstatus == 'STATUS_NEW' OR $this.headstatus == 'STATUS_ACTIVE' OR $this.headstatus == 'STATUS_ADDMORE' OR $this.headstatus == 'STATUS_VOTING'}
		<h4>Ряд закупки <a href="{link show=viewcollection id=$oneZakObj->id}">{$oneZakObj->name}</a>:</h4>

		<div class="opt-zakupka-line-add-table">
			<dl>
				<dt>Артикул товара:<span class="necessary-star">*</span></dt>
				<dd><input type="text" id="searchArtNumber" name="searchArtNumber" maxlength="255" data-validate="validate(required, maxlength(255))" {if $this.editProduct}value="{$this.editProduct->artNumber}"{/if} /> <button id="searchByArt">Найти в базе</button> (проверьте, вдруг такой товар уже есть)</dd>
			</dl>
		</div>

		<form action="{link do=orgaddzline}" id="opt-zakupka-line-add" method="post" enctype="multipart/form-data">
		<input type="hidden" name="headid" value="{$this.headid}" />
		<input type="hidden" id="artNumber" name="artNumber" {if $this.editProduct}value="{$this.editProduct->artNumber}"{/if} />
		<input type="hidden" id="prodId" name="prodId" value="{$this.zl->productId}" {if $this.editProduct}value="{$this.editProduct->id}"{/if}/>
		{if $this.editZline}<input type="hidden" id="lineId" name="id" value="{$this.editZline->id}" />{/if}

		<dl>
			<dt>Название товара: <span class="necessary-star">*</span></dt>
			<dd><input type="text" id="name" name="name" maxlength="255" {if $this.editProduct}value="{$this.editProduct->name}"{/if} data-validate="validate(required, maxlength(255))" /></dd>
		</dl>
		<dl>
			<dt>Цена: <span class="necessary-star">*</span></dt>
			<dd><input type="text" id="wholePrice" {if $this.editZline}value="{$this.editZline->wholePrice}"{/if} name="wholePrice" maxlength="255" data-validate="validate(required, number, maxlength(14))" /></dd>
		</dl>
        <dl>
            <dt>Старая цена (зачёркнутая, справочно):</dt>
            <dd><input type="text" id="oldWholePrice" {if $this.editZline}value="{$this.editZline->oldWholePrice}"{/if} name="oldWholePrice" maxlength="255" data-validate="validate(maxlength(14))" /></dd>
        </dl>

		{if !$this.editZline || !$this.isOrdered}
            <input type="radio" name="rowtype" class="rowtype" value="0" id="radio-rowtype-0"{if !$this.editZline->minValue || !$this.editZline} checked="checked"{/if}> <label for="radio-rowtype-0">Ряд с размерами (через запятую)</label><br/>
            <!-- тип ряда по размеру -->
            <dl id="sizerow">
                <dt>Размеры: <span class="necessary-star">*</span></dt>
                <dd><input type="text" id="sizes" name="sizes" maxlength="255" value="{$this.editZline->sizes}" /></dd>
                <dd><input type="checkbox" name="isGrow"{if $this.editZline->isGrow == 1 || !$this.editZline} checked="checked"{/if} id="isGrow" /> <lable for="isGrow">добавлять ещё ряд при наполнении</lable></dd>
                <dd><input type="checkbox" name="shouldClose"{if $this.editZline->shouldClose == 1} checked="checked"{/if} id="shouldClose" /> <lable for="shouldClose">запретить выписываться из закрытого ряда</lable></dd>
            </dl>
            <input type="radio" name="rowtype" class="rowtype" value="1" id="radio-rowtype-1"{if $this.editZline->minValue} checked="checked"{/if}> <label for="radio-rowtype-1">Только плюсики (заданное кол-во)</label><br/>
            <!-- тип ряда по размеру -->
            <!-- тип ряда по кол-ву -->
            <dl id="kolvorow-val" style="display: none;">
                <dt>Кол-во в коробе: <span class="necessary-star">*</span></dt>
                <dd><input type="text" id="minValue" value="{$this.editZline->minValue}" name="minValue" maxlength="255" /></dd>
            </dl>

            <dl id="kolvorow-name" style="display: none;">
                <dt>Ед.измер. товара:</dt>
                <dd><input type="text" id="minName" value="{$this.editZline->minName}" name="minName" maxlength="255" /></dd>
            </dl>
            <!-- тип ряда по кол-ву -->
		{else}
			{if $this.editZline->minValue}
				<!-- тип ряда по кол-ву -->
				<dl id="kolvorow-val">
					<dt>Кол-во в коробе: <span class="necessary-star">*</span></dt>
					<dd><input type="text" id="minValue" value="{$this.editZline->minValue}" name="minValue" maxlength="255" /></dd>
				</dl>

				<dl id="kolvorow-name">
					<dt>Ед.измер. товара:</dt>
					<dd><input type="text" id="minName" value="{$this.editZline->minName}" name="minName" maxlength="255" /></dd>
				</dl>
				<!-- тип ряда по кол-ву -->
			{else}
				<dd><input type="checkbox" name="isGrow" {if $this.editZline->isGrow == 1}checked="checked"{/if} id="isGrow" /> <lable for="isGrow">добавлять ещё ряд при наполнении</lable></dd>
				<dd><input type="checkbox" name="shouldClose" {if $this.editZline->shouldClose == 1}checked="checked"{/if} id="shouldClose" /> <lable for="shouldClose">запретить выписываться из закрытого ряда</lable></dd>
			{/if}
		{/if}

		<br/>
		<dl id="desc-dl">
			<dt id="desc-dt">Описание <button class="openuplwindow">Добавить картинку</button> :</dt>
			<dd id="desc-dd" style="margin-top: 6px;"><textarea name="description" id="description" style="height: 250px;">{if $this.editProduct}{$this.editProduct->description}{/if}</textarea></dd>
		</dl>
		<dl id="submit-dl">
			<dt></dt>
			<dd><input type="submit" id="submitForm" value="Сохранить"/></dd>
		</dl>

		</form>

    {else}
        <h4>Статус закупки не позволяет редактировать ряд</h4>
	{/if}

{else}

	<p>Ошибка доступа</p>

{/if}