{assign var=this value=$OrgscinformControl}

{formrestore id="sc-pay"}

{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}
{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}

{literal}
<script type="text/javascript">
	$().ready(function()
	{
		$('#sc-pay').ketchup();
	});
</script>
{/literal}

<p>Вы можете оплатить счёт с помощью "Единого кошелька". Кошелёк будет автоматически заведен при первой оплате и привязан к номеру Вашего телефона. Пополнение доступно любым из перечисленных способов: <b>Сбербанк</b>, карта <b>VISA</b> и <b>MasterCard</b>, <b>QIWI</b>, <b>Яндекс</b> и другие электронные деньги.</p>
<img id="w1pic" src="/images/w1paycrop.png" /><br />
<form method="post" action="https://merchant.w1.ru/checkout/default.aspx" accept-charset="UTF-8">
    {foreach from=$this.fields item=fval key=fkey}
    {if is_array($fval)}
    {foreach from=$fval item=intval}
    <input type="hidden" name="{$fkey}" value="{$intval}"/>
    {/foreach}
    {else}
    <input type="hidden" name="{$fkey}" value="{$fval}"/>
    {/if}
    {/foreach}
    <input type="submit" id="w1submit" value="Оплатить через кошелек"/>
</form>

<p style="margin-top: 35px;">Так же Вы можете передать оплату и другим способом, например переводом с карты VISA, MasterCard.<br/><i>(в таком случае, отправьте уведомление с помощью <a href="#notifyaboutpayment">формы</a> ниже).</i></p>

<iframe class="iframe" src="https://money.yandex.ru/fastpay/form/def6a5cfe2a44e74b8cad5dfe8218ff8" width="500" height="356" style="border: 1px solid #e8e8e8;"></iframe>

<br/><br/>
<a name="notifyaboutpayment"></a>
<form action="{link do=orgscpay}" id="sc-pay" method="post">
<input type="hidden" name="scid" value="{$this.scObj->id}" />
	<div class="org-sc-pay-table">
		<dl>
			<dt>Сумма, руб.:</dt>
			<dd><input type="text" id="amount" value="{$this.scObj->needAmount}" name="amount" maxlength="12" data-validate="validate(required, number, maxlength(12))" /></dd>
		</dl>
		<dl id="note-dl">
			<dt>Способ и дата оплаты:<span class="necessary-star">*</span></dt>
			<dd><textarea name="userInfo" id="userInfo" style="height: 100px; width: 70%;">{if $this.prevPayInfo}{$this.prevPayInfo}{else}Например, перевод от Фамилия Имя с карты СБ ****XXXX от чч.мм.гггг, сделан в чч:мм{/if}</textarea></dd>
		</dl>
		<dl id="submit-dl">
			<dt></dt>
			<dd><input type="submit" id="submitForm" value="Сообщить о переводе"/></dd>
		</dl>
	</div>
</form>


