{assign var=this value=$OrgZHListControl}
{formrestore id="opt-ZH-list"}

{literal}
<script type="text/javascript">
	$().ready(function()
	{
        $('.orgaddzakupkahead').click(function(e)
        {
            var gotId = $(this).attr("id");
            var pureId = gotId.split("orgaddzakupkahead-").join("");
            window.location.href = "/index.php?show=orgaddzakupkahead&id="+pureId;
        });

        $('.orgviewzakupka').click(function(e)
        {
            var gotId = $(this).attr("id");
            var pureId = gotId.split("orgviewzakupka-").join("");
            window.location.href = "/index.php?show=orgviewzakupka&headid="+pureId;
        });

        $('.orgremovezakupka').click(function(e)
        {
            var gotId = $(this).attr("id");
            var pureId = gotId.split("orgremovezakupka-").join("");
            window.location.href = "/index.php?show=orgremovezakupka&id="+pureId;
        });

        $('.orgeditvikup').click(function(e)
        {
            var gotId = $(this).attr("id");
            var pureId = gotId.split("orgeditvikup-").join("");
            window.location.href = "/index.php?show=orgeditvikup&id="+pureId;
        });

	});

</script>
{/literal}

{if $this.zhlist}
		<h3>Мои закупки</h3>
		{assign var=status value=""}
		{foreach item=zh from=$this.zhlist}
		{if $status != $zh.status}
            {if $status != ""}
            </table>
            {/if}
            <h4>{$this.stdesc[$zh.status]}:</h4>
            <div class="tableautoscrollx">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0" style="font-size: 11px;">
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">Закупка</th>
                    <th style="text-align: center;">Дата создания</th>
                    <th style="text-align: center;">Минималка</th>
                    <th style="text-align: center;">Набрано</th>
                    <th style="text-align: center;">Заказов</th>
                    <th style="text-align: center;">Набранность</th>
                    <th style="text-align: center;">Действия</th>
                </tr>
		{/if}
			<tr class="{cycle values='color,'}">
				<td>{$zh.id}</td>
				<td><a href="{link show=orgviewzakupka headid=$zh.id}">{$zh.name}</a></td>
				<td style="text-align: center;">{$zh.dateCreate|dateformat:"d M Y"}</td>
                <td align="right">{$zh.minAmount} р.</td>
                <td align="right">{if $zh.curAmount}{$zh.curAmount} р.{else}-{/if}</td>
                <td align="right">{if $zh.curValue > 0}{$zh.curValue}{else}-{/if}</td>
                <td align="right">{if $zh.narate > 0}{$zh.narate}%{else}-{/if}</td>
				<td style="text-align: center;">
                    <button id="orgaddzakupkahead-{$zh.id}" class="btn btn-default btn-sm orgaddzakupkahead" type="button" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></button> <button id="orgviewzakupka-{$zh.id}" class="btn btn-default btn-sm orgviewzakupka" type="button" title="Ряды"><span class="glyphicon glyphicon-th-list"></span></button>{if $zh.status == 'STATUS_NEW'} <button id="orgremovezakupka-{$zh.id}" class="btn btn-default btn-sm orgremovezakupka" type="button" title="Удалить"><span class="glyphicon glyphicon-remove"></span></button>{/if}
				</td>
			</tr>
		{assign var=status value=$zh.status}
		{/foreach}

		{if $status != ""}
		</table>
        </div>
		{/if}

{/if}

<h4><a style="text-decoration: underline;" href="{link show=orgaddzakupkahead}">Добавить</a> закупку.</h4>

{if $this.vikupList}
    <br/><br/>
    <h3>Мои выкупы (регулярные закупки, создаются при клонировании)</h3>
    <div class="tableautoscrollx">
    <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0" style="font-size: 11px;">
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;" width="65%">Название</th>
            <th style="text-align: center;">Проведено закупок</th>
            <th style="text-align: center;">Действия</th>
        </tr>
    {foreach from=$this.vikupList item=vikup}
        <tr class="{cycle values='color,'}">
            <td>{$vikup->id}</td>
            <td>{$vikup->name}</td>
            <td style="text-align: center;">{$vikup->countZheads}</td>
            <td style="text-align: center;">
                <button id="orgeditvikup-{$vikup->id}" class="btn btn-default btn-sm orgeditvikup" type="button" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
    {/foreach}
    </table>
    </div>
{/if}