{assign var=this value=$PageControl}

{literal}
<script type="text/javascript">
    var lastAnsId = 0;
    $().ready(function()
    {
        $('.commint-cancel').hide();

        $('.commint-click').click(function(e){

            // со всех снимаем яркую линию
            $('.basic-comment').css("border-left", "#666 solid 2px");
            $('.commint-cancel').hide();

            // ставим на конкретный камент
            var ansId = '#' + $(this).attr("id") + 'div';
            var realId = $(this).attr("id").split("ans").join("");
            // ссылка "отмена"
            var canId = '#can' + realId;
            var rootId = $(this).attr("rootid");

            // переместим див с блоком формы к комментарию
            $('.comm-title').hide();
            if ($('.comment-movable').html() == "")
            {
                $('#cont' + realId).html($('#cont' + lastAnsId).html());
                $('#cont' + lastAnsId).html("");
            }
            else
            {
                $('#cont' + realId).html($('.comment-movable').html());
                $('.comment-movable').html("");
            }

            $(ansId).css("border-left", "#6fbb95 solid 2px");
            $('#hiddenSourceId').attr("value", realId);
            $('#hiddenRootId').attr("value", rootId);

            $('.rounded-div').css("background-color", "#bcffdd");

            $(canId).show();

            lastAnsId = realId;

            return false;

        });


        // отмена ответа
        $('.commint-cancel').click(function(e){
            // со всех снимаем
            $('.basic-comment').css("border-left", "#666 solid 2px");
            $('.commint-cancel').hide();
            $('#hiddenSourceId').attr("value", 0);
            $('#hiddenRootId').attr("value", 0);
            $('.rounded-div').css("background-color", "#e7e7e7");

            // перемещаем блок обратно
            var realId = $(this).attr("id").split("can").join("");
            $('.comment-movable').html($('#cont' + realId).html());
            $('#cont' + realId).html("");
            $('.comm-title').show();

        });

    });

</script>
{/literal}

{if $this.content->menu == "MENU_TOP"}
<h3>{$this.content->title}</h3>
<p><!-- --></p>
{/if}
{$this.text}
{if $this.content->menu == "MENU_TOP"}
<p><!-- --></p>
{/if}

<a name="directmsg"></a>
<div class="comment-movable">
	<h4>Ваш комментарий:</h4>
	<div class="rounded-div">
		<form id="placecomment" name="placecomment" method="post" action="{link do=placecocomment headid=$this.content->id}">
			<input type="hidden" id="hiddenSourceId" name="sourceId" value="" />
			<input type="hidden" id="hiddenRootId" name="rootId" value="" />
			<textarea id="headcomment" class="comment-input" name="body"></textarea><br />
			<input class="comment-button" type="submit" value="Добавить" />
		</form>
	</div>
</div>
<p><!-- --></p>
{if $this.commlist}
<h4 class="comment-title">Комментарии участников:</h4>
{foreach from=$this.commlist item=comitem}
    {if !$comitem.level}{assign var=rootId value=$comitem.id}{/if}
    <div id="ans{$comitem.id}div" class="basic-comment comment-level-{$comitem.level}">
        <div class="commint-date">{$comitem.dateCreate|dateformat:"d M Y"}</div>
        <div class="commint-nick">{if $comitem.isAnon == 1}Аноним{else}{$comitem.showName}{/if}</div>
        <div class="commint-body">{$comitem.body}</div>
        <div class="commint-answer"><a class="commint-click" id="ans{$comitem.id}" rootId="{$rootId}" href="#directmsg">ответить</a> <a class="commint-cancel" id="can{$comitem.id}" href="#directmsg">(отмена)</a></div>
        <div id="cont{$comitem.id}" class="comment-moved"></div>
    </div>

    {if $this.subcomments[$rootId]}
        {assign var=submessages value=$this.subcomments[$rootId]}
        {foreach from=$submessages item=subitem}
            <div id="ans{$subitem.id}div" class="basic-comment comment-level-{$subitem.level}">
                <div class="commint-date">{$subitem.dateCreate|dateformat:"d M Y"}</div>
                <div class="commint-nick">{if $subitem.isAnon == 1}Аноним{else}{$subitem.showName}{/if}</div>
                <div class="commint-body">{$subitem.body}</div>
                <div class="commint-answer"><a class="commint-click" id="ans{$subitem.id}" rootId="{$rootId}" href="#directmsg">ответить</a> <a class="commint-cancel" id="can{$subitem.id}" href="#directmsg">(отмена)</a></div>
                <div id="cont{$subitem.id}" class="comment-moved"></div>
            </div>
        {/foreach}
    {/if}
{/foreach}
{else}
    <h3 class="comment-title">Ваш комментарий будет первым!</h3>
{/if}

<p><!-- --></p>
