{assign var=this value=$UseraddorderControl}
{formrestore id="user-addorder"}

{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}
{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}

{literal}
<script type="text/javascript">
	$().ready(function()
	{
		$('#user-addorder').ketchup();
	});
</script>
{/literal}

<form action="{link do=useraddorder}" id="user-addorder" method="post">
<input type="hidden" name="headid" value="{$this.headid}" />
<input type="hidden" name="orderid" value="{$this.orderid}" />
<input type="hidden" name="backURL" value="{$this.backURL}" />
	<div class="user-order-table">
		<h3>Ваш заказ:</h3>
		<dl id="name-dl">
			<dt>Название:<span class="necessary-star">*</span></dt>
			<dd>
				{if $this.orlObj->zlId}
					{$this.orlObj->prodName}
				{else}
				<input type="text" id="prodName" name="prodName" value="{$this.orlObj->prodName}" maxlength="255" data-validate="validate(required, maxlength(50))" />
				{/if}
			</dd>
		</dl>
		<dl>
			<dt>Артикул:</dt>
			<dd>
				{if $this.orlObj->zlId}
					{$this.orlObj->prodArt}
				{else}
				<input type="text" id="prodArt" name="prodArt" value="{$this.orlObj->prodArt}" maxlength="255" data-validate="validate(maxlength(20))" />
				{/if}
			</dd>
		</dl>
		<dl>
			<dt>Цена:<span class="necessary-star">*</span></dt>
			<dd>
				{if $this.orlObj->zlId}
					{$this.orlObj->optPrice}
				{else}
				<input type="text" id="optPrice" name="optPrice" value="{$this.orlObj->optPrice}" maxlength="14" data-validate="validate(required, number, maxlength(14))" />
				{/if}
			</dd>
		</dl>

		{if !$this.zlObj || $this.zlObj->minValue}
			<dl>
				<dt>Кол-во:<span class="necessary-star">*</span></dt>
				<dd>
					<input type="text" id="count" name="count" value="{$this.orlObj->count}" maxlength="11" data-validate="validate(required, digits, max(10))" />
				</dd>
			</dl>
		{/if}

		{if !$this.orlObj->zlId}
		<dl>
			<dt>Размер:</dt>
			<dd><input type="text" id="size" name="size" value="{$this.orlObj->size}" maxlength="20" data-validate="validate(maxlength(20))" /></dd>
		</dl>
		<dl>
			<dt>Цвет:</dt>
			<dd><input type="text" id="color" name="color" value="{$this.orlObj->color}" maxlength="20" data-validate="validate(maxlength(20))" /></dd>
		</dl>
		{else}
			{if $this.orlObj->size && $this.orlObj->size != '-' && $this.orlObj->size != '+'}
			<dl>
				<dt>Ряд:</dt>
				<dd>{$this.orlObj->size}</dd>
			</dl>
			{/if}
		{/if}

		<dl id="note-dl">
			<dt>Комментарий:</dt>
			<dd><textarea name="comment" id="comment" style="height: 100px; width: 70%;">{$this.orlObj->comment}</textarea></dd>
		</dl>
		<dl id="submit-dl">
			<dt></dt>
			<dd><input type="submit" id="submitForm" value="Записать"/></dd>
		</dl>
	</div>
</form>
