{assign var=this value=$UserNewPassControl}
{formrestore id="user-login"}

{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}
{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}

{literal}
<script type="text/javascript">
	$().ready(function()
	{
		$('#user-login').ketchup();
	});

</script>
{/literal}

<form action="{link do=usergetpass}" id="user-login" method="post">
<input type="hidden" name="goto" value="{$this.goto}" />

<p>Если Вы не помните пароль, Вы можете получить новый, указав адрес E-mail:</p>

	<div class="user-login-table">
		<dl>
			<dt>E-mail:</dt>
			<dd><input type="text" id="email" name="email" maxlength="255" data-validate="validate(email, rangelength(4, 100))" /></dd>
		</dl>
		<dl id="submit-dl">
			<dt></dt>
			<dd><input type="submit" id="submitForm" value="Выслать новый пароль"/></dd>
		</dl>

	</div>

</form>
